/* GENERAL */
:root{
    --green_index: #AF9A31;
    --snow_index: #FCFCFC;
    --grey_index: #4B473E;
    --dark_index: #050505;
}


/* NAVBAR */
.navbar {
    background-color:var(--dark_index) !important;
    position: fixed;
    overflow: hidden;
}
.icones-top{
    width: 20px;
}

.nav-link{
    color: var(--green_index) !important;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight:bold !important;
}
/* NAVBAR */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {

    background-image: url('/Images/pexels-edward-eyer-811838.jpg');
    background-size: cover;
    background-position: center;
}


.container {
    padding: 100px;
}

.titre {
    color: var(--green_index);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgba(5, 5, 5, 0.7);
    padding: 10px;
}

.titre2 {
    color: var(--grey_index);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--snow_index);
}



.paragraphe {
    color: var(--snow_index);
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    text-transform: capitalize;

    background-color: rgba(5, 5, 5, 0.7);
    padding: 10px;
    margin-top: 20px;
}


/* FOOTER ----------------------------------------*/
footer{
    color: var(--snow_index);
    background-color: var(--dark_index);
}

.suivez-nous{
    margin-top: 50px;
    margin-left: 200px;
}

.chps-footer{
    width: 1000px;
    background-color: var(--grey_index);
    border: 1px solid var(--dark_index) !important;
}

.bottomline{
    color: var(--dark_index);
    background-color: var(--green_index);
    height: 60px;
    font-size: smaller;

}
.nav-link{
    margin-left: 35px;
    margin-right: 35px;
}
.chps_form{
    width: 100%;
}

.inscription_form{
    height: 500px;
}

.btn-inscr{
    background-color: var(--green_index);
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px var(--snow_index);
    font-weight: bolder;
}
/* -------------------------------- FOOTER */