
/*
@font-face {
	font-family: 'Montserrat';
    font-style: Bold;
	src: url('./Fonts/Montserrat/Montserrat-Bold.ttf') format(‘truetype’)
}

@font-face {
	font-family: 'RubikMonoOne';
    font-style: Regular;
	src: url('./Fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf') format(‘truetype’)
}

*/

.container {
    /*width: calc(100% - 200px);*/
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* NAVBAR */
.navbar {
    background-color:#23221E !important;
    position: fixed;
    overflow: hidden;
}
.icones-top{
    width: 20px;
    fill: #756822;

}

.nav-link{
    color: #756822 !important;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight:bold !important;
}

/* BANDEAU */

.bandeau{
    color: #756822;
    font-family: 'Rubik Mono One', sans-serif;
    font-style: Bold;

    justify-content: center;

    height: 400px;
    min-width: 100%;

    background-image: url(./Images/pexels-dariusz-grosa-736355.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item>a{
    font-family: 'Montserrat', sans-serif;
    color: black !important;
    text-decoration: none;
}

.tableau_offres{
    border: 1px solid black!;
    
}

.sous-titres{
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: large;
    font-weight: bold;
}

.img_form{
    background-image: url(/Images/pexels-dariusz-grosa-736355.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chps_form{
    width: 100%;
}

.inscription_form{
    height: 500px;
}

.btn-inscr{
    background-color: #756822;
    width: 200px;
    box-shadow: 3px 3px white;
}

.tab-t{
    background-color: #756822 !important;
    border: 1px solid black !important;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bolder;
}

.tab-h{
    border: 1px solid black !important;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

footer{
    color: white;
    background-color: #23221E;
}

.suivez-nous{
    margin-top: 50px;
    margin-left: 200px;
}

.chps-footer{
    width: 1000px;
    background-color: #67635A;
    border: 1px solid black !important;
}

.bottomline{
    color: #23221E;
    background-color: #756822;
    height: 60px;
    font-size: smaller;

}
.nav-link{
    margin-left: 35px;
    margin-right: 35px;
}

input:checked{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 10px solid;
    border-color: #756822;
    /*
    border-color: #756822 !important;
    color: #756822 !important;
    background-color: #756822 !important;
*/
}