/* COLORS */
:root{
    --green: #AF9A31;
    --snow: #FCFCFC;
    --grey: #9E998F;
    --dark: #050505;
}

.container_1 {
    /*width: calc(100% - 200px);*/
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* NAVBAR */
.navbar {
    background-color:var(--dark) !important;
    position: fixed;
    overflow: hidden;
}
.icones-top{
    width: 20px;
    fill: var(--green);

}

.nav-link{
    color: var(--green) !important;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight:bold !important;
}

/* BANDEAU */

.bandeau{
    color: var(--green);
    font-family: 'Rubik Mono One', sans-serif;
    font-style: Bold;

    justify-content: center;

    height: 400px;
    min-width: 100%;

    background-image: url(./Images/pexels-dariusz-grosa-736355.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item>a{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark) !important;
    text-decoration: none;
}

.tableau_offres{
    border: 1px solid var(--dark) !important;
    
}

.sous-titres{
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: large;
    font-weight: bold;
}

.img_form{
    background-image: url(/Images/pexels-dariusz-grosa-736355.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chps_form{
    width: 100%;
}

.inscription_form{
    height: 500px;
}

.btn-inscr{
    background-color: var(--green);
    width: 200px;
    box-shadow: 3px 3px var(--snow);
}

.tab-t{
    background-color: var(--green) !important;
    border: 1px solid --dark !important;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bolder;
}

.tab-h{
    border: 1px solid var(--dark) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

footer{
    color: var(--snow);
    background-color: var(--dark);
}

.suivez-nous{
    margin-top: 50px;
    margin-left: 200px;
}

.chps-footer{
    width: 1000px;
    background-color: var(--grey);
    border: 1px solid var(--dark) !important;
}

.bottomline{
    color: var(--dark);
    background-color: var(--green);
    height: 60px;
    font-size: smaller;

}
.nav-link{
    margin-left: 35px;
    margin-right: 35px;
}

input:checked{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 10px solid;
    border-color: var(--green);
    /*
    border-color: #756822 !important;
    color: #756822 !important;
    background-color: #756822 !important;
*/
}